@page
@model ZeroStore.Pages.LogInModel
@{
}
<form method="post">
	<label>Логин: <input type="text" name="login" id="login" /></label><br>
	<label>Пароль: <input type="text" name="password" id="password" /></label><br>
	<input type="submit" value="Войти" />
</form>